extends nav

block content

    .row
        .col-12
            .card
                h2 Edit #{place.locationName}
                .add-form.row
                    form(action=`/edit/${place.id}`, method="post",enctype="multipart/form-data")
                        label.row(for="location") Location Name
                        input.row(type="text" id="location" name="locationName" value=place.locationName)
                        p Select all that apply to the Venue
                        each activity in ['Romantic', 'Festival', 'Adventure', 'Cruises', 'WildLife', 'Camping', 'Spa', 'Culture', 'Foodie']
                            each item in place.activities
                                if activity === item
                                    input.checkbox.hidden(name='activities', id=activity, type='checkbox',value=activity, checked)
                                else
                                    input.checkbox.hidden(name='activities', id=activity, type='checkbox',value=activity)
                            label.checkbox-label.col-3(for=activity) #{activity}
                        if place.photo
                            img.title(src=`${place.photo || '../img/bgd.jpg'}`, alt=`picture of ${place.locationName}`)
                        p Upload image                        
                        input(type="file", name="photo",accept="image/*")
                        p Description
                        textarea(name="description", cols="30", rows="5")= place.description
                        input.btn(type="submit", value="Submit >")